/* Estilo da Seção de Classes */
.classes {
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

.classes h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f39c12;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.class-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.class-card {
    background-color: #2d2d2d;
    border: 2px solid #df1c1c;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.class-card h3 {
    font-size: 1.8rem;
    margin: 10px 0;
    color: #f39c12;
}

.class-card p {
    font-size: 1rem;
    color: #f4f4f4;
}

/* Efeito de Hover nos Cards */
.class-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Responsividade */
@media (max-width: 768px) {
    .class-cards {
        flex-direction: column;
        align-items: center;
    }
}

.class-container {
    background-color: #ffffff;
    border: 2px solid #8B4513; /* Cor marron para imitar madeira */
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.class-container header {
    text-align: center;
    margin-bottom: 20px;
}

.class-container h1 {
    font-size: 2.5em;
    color: #d6d3d3; 
}

.hit-die {
    font-size: 1.2em;
    color: #555;
}

.proficiencies {
    margin-top: 20px;
}

.proficiency-group {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #eee8d5; 
    border-left: 5px solid #8B4513;
}

h2 {
    font-size: 2em;
    color: #6A5ACD;  
}

h3 {
    font-size: 1.5em;
    color: #8B4513;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.proficiency-item {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.proficiency-item:last-child {
    border-bottom: none; /* Remove borda do último item */
}

.proficiency-item:hover {
    background-color: #f0e68c; /* Cor de destaque ao passar o mouse */
    transition: background-color 0.3s;
}